<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>  
    <add name="MyAppConnectionString" connectionString="Data Source=*server*\*instance*;Initial Catalog=*dbname*;Integrated Security=True;Pooling=False" />
    <add name="SMSCloudConnectionString" connectionString="Server=tcp:lcmsmsserver.database.windows.net,1433;Initial Catalog=SMSDatabase;Persist Security Info=False;User ID=pbolden;Password=K3nya4ever;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
    <add name="SMSLocalConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=SMSDatabase;"/>
  </connectionStrings>  
</configuration>
